data/data_Blank_Vote_Questionable.h5
data/VoterDataBalanced.torch
data/*
.DS_Store
Utilities/data_Blank_Vote_Questionable.h5
Utilities/blank_bubbles.pth
venv_busting_the_ballot/*
Train/*
Utilities/data/*